<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		  <script src="javascripts/html5shiv.js"></script>
		<![endif]-->
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/bodyFade.js"></script>

		<!-- styles -->
		<link href="/stylesheets/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="header">
			<div class="content">
				<h1>KiwiDJ</h1>
			</div>
		</div>
		<div class="content">
			<%- body %>
		</div>
	</body>
</html>