<% layout('layout') -%>
<% if (error != "") { %>
	<span style="color:#FF0000"><i class="icon-exclamation-sign"></i> <%= error %></span>
<% } %>
<h1>Login</h1>
<form action="./login" method="post">
  Username: <input type="text" name="username"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>
