<% layout('layout') -%>
<script src="/socket.io/socket.io.js"></script>
<script src="http://connect.soundcloud.com/sdk.js"></script>
<script>var roomName = '<%= room %>';</script>
<script src="/javascripts/room.js"></script>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="roomBox" style="width:75%">
	<div class="scrollY" style="height:70px">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue I am the last message</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue I am the last message</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue I am the last message</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue I am the last message</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue I am the last message</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue I am the last message</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue</span>
		<hr class="noMargin">
		<span><strong>medsouz</strong> huehuehue I am the last message</span>
		<hr class="noMargin">
	</div>
	<hr class="noMargin">
	<div style="margin-top:5px; margin-bottom:5px">
		<input type="text" name="chat">
		<input type="submit" value="Send">
	</div>
</div>
<div class="roomBox right scrollY" style="width:20%">
	<img src="/images/logo-512.png" width="64" height="64" align="left"/>	
	<h3 class="noMargin">Now Playing</h3>
	<i class="icon-music"></i> <span id="songTitle">Title</span>
	<hr class="noMargin">
	<i class="icon-pencil"></i> <span id="songArtist">Artist</span>
	<hr class="noMargin">
	<h3 id="duration" class="noMargin bottom left" style="font-weight:normal">0:00/0:00</h3>
	<h3 class="noMargin bottom right"><a id="source" href="">Source</a> <i id="source-icon" class="icon-question"></i></h3>	
</div>
