<% layout('layout') -%>
<script src="/socket.io/socket.io.js"></script>
<script src="http://connect.soundcloud.com/sdk.js"></script>
<script>var roomName = '<%= room %>';</script>
<script src="/javascripts/room.js"></script>
<h1>SOUNDCLOUD MUSIC</h1>
