body {
	background-image: url("/images/bg.png");
	background-color: #121212;
}

h1 {
	margin-top: 0px;
}

ul {
	padding-left: 20px;
	margin: 0px;
}

p {
	margin: 0px;
}

.bodyDiv {
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	/*min-height:600px;*/
	background: #FFFFFF;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.header {
	width:100%;
	height:50px;
	border-bottom:1px solid #000;
}

.headerDiv {
	height:100%;
	width:20%;
	float:left;
	display: table;
	position: relative;
	overflow: hidden;
}

.headerDiv h1 {
	display: table-cell;
    vertical-align: middle;
    text-align:center;
    font-family: "Lucida Console", Monaco, monospace;
}

.headerDiv img {
	margin-left: 10px;
	margin-top: 1px;
}

.headerDiv a {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.headerUser {
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	display: table;
	padding:8px;
	-webkit-border-bottom-left-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	-moz-border-radius-bottomleft: 25px;
	-moz-border-radius-bottomright: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	z-index: 1;
}

.roomBox {
	height:100px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #000;
	padding:5px;
	display: inline-block;
}

.borderRight {
	border-right:1px solid #000;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: table;
}

.right {
	float: right;
}

.left {
	float: left;
}

.bottom {
	vertical-align: bottom;
}

.noMargin {
	margin: 0px;
}

.scrollY {
	overflow-x:hidden;
	overflow-y:scroll;
}

#content {
	padding:15px;
	padding-top:0px;
}

#footer {
	border-top:1px solid #000;
	padding:15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0px;
}
