@font-face {
	font-family: Gotham;
	src: url('/font/GothamHTF-Black.otf');
}

body {
	background-image: url("/images/bg.png");
	background-color: #121212;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #2e741e;
	text-decoration: none;
}

h1 {
	margin-top: 0px;
	font-family: Gotham, arial;
}

ul {
	padding-left: 20px;
	margin: 0px;
}

p {
	margin: 0px;
}

.bodyDiv {
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	/*min-height:600px;*/
	background: #f2f2f2;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.header {
	width:100%;
	height:50px;
	border-bottom:1px solid #000;
}

.headerDiv {
	height:100%;
	width:20%;
	float:left;
	display: table;
	position: relative;
	overflow: hidden;
}

.headerDiv h1 {
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	text-transform: uppercase;
	letter-spacing: -2px;
	font-size: 35px;
}

.headerDiv img {
	margin-left: 10px;
	margin-top: 1px;
}

.headerDiv a {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.headerUser {
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	display: table;
	padding:8px;
	-webkit-border-bottom-left-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	-moz-border-radius-bottomleft: 25px;
	-moz-border-radius-bottomright: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

.contributor {
	float:left;
	display: table;
	position: relative;
	margin: 5px;
}

#contributors {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.roomBox {
	height:150px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #000;
	padding:5px;
	display: inline-block;
}

.borderRight {
	border-right:1px solid #000;
	margin-right: -1px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: table;
}

.right {
	float: right;
}

.left {
	float: left;
}

.bottom {
	vertical-align: bottom;
}

.noMargin {
	margin: 0px;
}

.scrollY {
	overflow-x:hidden;
	overflow-y:auto;
}

#content {
	padding:15px;
	padding-top:0px;
}

#footer {
	border-top:1px solid #000;
	padding:15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0px;
}